
.sideBarContainer {
    overflow-x: hidden; 
    overflow-x: hidden; overflow-x: hidden; 
    min-width: 150px;
    background-color: whitesmoke;
    display: flex;
    border-right: grey solid 1px;
   
}

h1 {
    margin: auto;
}

ul {
   list-style-type: none;
   
}

.ul_container {
    display: flex;
    flex-direction: column;
}

.ul_container  > li {

    margin: auto;

   
}

