

* {
    margin: 0;
    box-sizing: border-box;    
}
/* 
body {
    min-height: 100vh;
    display: flex;


} */


.container {
    overflow-y: hidden;
    /* position: relative; */
    display: flex;
    min-height: calc(100vh - 100px);
}

/* @media only screen and (max-width: 992px) {
    .container {
        flex-direction: column;
    }
} */